table {
    width: 100%;
    border-collapse: collapse;
}
table th {
    text-align: start;
    background-color: rgb(78, 78, 78);
    color: rgb(255, 255, 255);
}
table th,
table td {
    padding: 5px 15px;
    border: 1px solid grey;
}

tbody tr:nth-child(even){
    background-color: rgb(226, 220, 213);
}